body,
div,
ol,
ul,
h1 {
  margin: 0;
  padding: 0;
}
body * {
  box-sizing: border-box;
}
/*setting start*/
@-webkit-keyframes logo {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-select {
  user-select: none;
  cursor: default;
}
/*setting end*/
/*header start*/
.logo-box {
  width: 100vw;
  height: 100vh;
  /*background: #272822;*/
  background: url("../img/bg2.png") fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-box .logo {
  display: inline-block;
}
.logo-box .logo h1 {
  font-size: 8em;
  color: #37c8f7;
  user-select: none;
  cursor: default;
  text-shadow: 0 8px 9px #000, 0 -2px 1px #fff;
  transition: all 0.5s;
}
.logo-box .logo h1:hover {
  color: #fff;
  animation: logo 1.5s ease-in-out infinite alternate;
}
.logo-box .author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-box .author label {
  color: #fff;
  user-select: none;
  cursor: default;
}
.logo-box .author label span {
  margin: 0 0 0 10px;
}
/*header end*/
/*container start*/
.container {
  height: 100vh;
  background: #fff;
}
.container .divide {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/bg.png") fixed;
}
.container .divide h2 {
  font-size: 3em;
  user-select: none;
  cursor: default;
}
/*container end*/
/*footer start*/
/*footer end*/
