.section {
    border-radius: 5px;
    box-shadow: 1px 1px 2px #dfe5ed;
    margin: 0 0 20px 0;
    background: #fff;
}

.basic-info {
    height: 80px;
    font-size: 18px;
    color: #00a1d6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basic-info div {
    box-szing: content-box;
    border-top: 1px solid #e4f5ff;
    border-bottom: 1px solid #e4f5ff;
    padding: 5px 0;
}

.basic-info label{
    font-weight: 700;
}

.level-info {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.description {
    border-top: 1px solid #e4f5ff;
    border-bottom: 1px solid #e4f5ff;
    margin: 0 10px 0 20px;
}

.description label {
    font-size: 20px;
    color: #ff7e9c;
    font-weight: 700;
}

.description span {
    font-size: 12px;
    color: #99a2aa;
}

.progress {
    flex-grow: 1;
    height: 12px;
    /*background: #c8c8c8;*/
    border-radius: 3px;
    margin: 0 20px 0 10px;
    box-shadow: 0 0 1px #0095cc;
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 80%;
    height: 10px;
    border-radius: 3px;
    box-shadow:
    0px 0px 3px 1px #37c8f7,
    0 0 1px #37c8f7,
    0 0 1px #37c8f7;
    background-color: rgba(25, 203, 250, 0.3);
}

.canvas-info {
    padding: 10px;
    /*height: 800px;*/
}

.column {
    display: flex;
    justify-content: space-around;
}

.basic-exhibition {
    width: 48%;
    height: 350px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #37c8f7;
}
